@charset "UTF-8";
/* 기본 레이아웃 */
html {
  height: 100%;
}
body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  font-family: helvetica, '나눔고딕', 'Nanum Gothic', sans-serif;
  color: #453A63;
  font-size: 13px;
}
.inner {
  min-width: 390px;
  max-width: 590px;
  margin: 0 auto;
  position: relative;
}
/* header */
.header {
  background-color: #0b0c46;
  height: 98px;
  border: 1px solid #453A63;
  position: relative;
  z-index: 10;
  text-align: center;
}
.header .inner h1 {
  color: #fff;
  letter-spacing: 2px;
}
.header .inner h1:after {
  content: '';
  display: inline-block;
  background: url(../../../icon/duck.png);
  width: 40px;
  height: 40px;
  background-size: 40px auto;
  vertical-align: top;
  position: absolute;
  right: 5px;
  top: -4px;
}
.switch {
  position: absolute;
  width: 60px;
  height: 34px;
  left: 5px;
  top: -1px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(204,204,204);
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #3bd3d0;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/* container */
#container {
  height: 100%;
  background-color: #f2f1f1;
  margin-top: -120px;
  position: relative;
}
.btn_type {
  background-color: #0b0c46;
  font-weight: bold;
  color: #fff;
  width: 30%;
  height: 30px;
  cursor: pointer;
  border: none;
}
.btn_type.selected {
  color: #3bd3d0;
}
.switch2 {
  position: absolute;
  width: 50px;
  height: 27px;
  left: 5px;
  top: -1px;
}
.switch2 input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(204,204,204);
  -webkit-transition: .4s;
  transition: .4s;
}
.slider2:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider2 {
  background-color: #0b0c46;
}
input:focus + .slider2 {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider2:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}
.slider2.round {
  border-radius: 34px;
}
.slider2.round:before {
  border-radius: 50%;
}
/* content */
#container .content .inner {
  position: absolute;
  top: 130px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
#container .content .inner h2 {
  font-size: 16px;
  background-color: #0b0c46;
  color: #fff;
  width: 200px;
  border-radius: 2em;
  margin-left: 20px;
  text-align: center;
}
.content .btn_hint {
  font-weight: bold;
  text-align: left;
  margin-left: 25px;
  font-size: 15px;
  margin-top: 5px;
  padding-top: 13px;
}
.inner_layer {
  margin: 15px auto;
  width: 90%;
  padding: 10px 0;
  text-align: center;
  background-color: #fff;
  box-shadow: 10px 10px 10px gray;
}
.img_info p {
  margin-left: 10px;
  text-align: left;
}
li {
  text-align: left;
  padding-bottom: 10px;
}
ul li {
  list-style: none;
  margin-left: 0;
  display: inline-block;
}
.user_answer button {
  font-weight: bold;
  width: 80px;
  line-height: 35px;
  border-radius: 10px;
  background-color: #0b0c46;
  margin: 0 10px;
  border: 1px solid #0b0c46;
  color: #fff;
  cursor: pointer;
}
.user_answer button:hover {
  background-color: #fff;
  color: #0b0c46;
}
/* 다운로드 히스토리 */
table {
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: collapse;
  width: 97%;
}
tr {
  border-bottom: 1px solid  #1B296D;
}
th {
  color: #3bd3d0;
  padding: 10px 0;
}
td {
  word-break: break-all;
  padding: 10px 0;
}
.file_dir {
  text-align: left;
}
.selected_v2 {
  display: none;
}
dl {
  text-align: left;
  padding: 0 15px;
  font-size: 15px;
}
dd {
  margin-left: -1px;
  padding-bottom: 10px;
}
.footer {
  line-height: 20px;
  text-align: center;
  background-color: #f2f1f1;
}
.footer .inner {
  color: #0b0c46;
}
.blind {
	visibility: hidden;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	font-size: 0;
	line-height: 0;
}
