@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: helvetica, '나눔고딕', 'Nanum Gothic', sans-serif;
  text-align: center;
  color: #453A63;
}
.header {
  position: relative;
}
.header h1 {
  margin-bottom: 10px;
}
.header h1:before {
  display: inline-block;
  content: '';
  background: url(../../../icon/duck.png) no-repeat;
  background-size: 40px auto;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 5px;
}
.switch {
  position: absolute;
  width: 60px;
  height: 34px;
  right: 10px;
  top: 0;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(204,204,204);
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #453A63;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.header .service_color {
  color: #1B296D;
}
.header .nav {
  font-size: 0;
}
.header button {
  width: 33%;
  line-height: 25px;
  border: 1px solid #05D6B4;
  background-color: #fff;
  color: #05D6B4;
  cursor: pointer;
  margin-left: -1px;
}
.header button[:first-child] {
  margin-left: 0;
}
.header button:hover {
  font-size: bold;
  color: #fff;
  background-color: #05D6B4;
}
.inner {
  margin-top: 15px;
  min-height: 450px;
  max-height: 500px;
  overflow: auto;
  padding: 0 15px;
  position: relative;
}
.inner .text_left {
  text-align: left;
}
/* 기본 */
.inner .thumb {
  margin-top: 30px;
  vertical-align: top;
}
.inner .img_info p {
  margin: 5px;
}
/* 중복확인 */
.inner li {
  display: inline-block;
}
.inner .user_answer p {
  line-height: 20px;
}
.inner .user_answer button {
  width: 70px;
  line-height: 20px;
  color: #1B296D;
  background-color: #fff;
  border: 1px solid #1B296D;
}
.inner .user_answer button:hover {
  font-size: bold;
  color: #fff;
  background-color: #1B296D;
}
.inner .user_answer .btn_yes {
  margin-right: 7px;
}
/* 다운로드 히스토리 */
.inner table {
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: collapse;
}
.inner tr {
  border: 1px solid  #1B296D;
}
.inner .path {
  text-align: left;
}
.blind {
  visibility:hidden;
  overflow:hidden;
  position:absolute;
  top:0;
  left:0;
  width:1px;
  height:1px;
  font-size:0;
  line-height:0;
}
